/*!
######################################################

# HEADER.CSS

#ASSET RELEASE: 1.0.0

# BUILD DATE: 2019 3:4 

# COPYRIGHT 2019 

######################################################
*/

*{box-sizing:border-box;background-repeat:no-repeat;}

.navList{
    display: -webkit-flex;
    text-align: left;
    margin: 31px 35% 0px 20%;
}
.gmenu_li{
    margin: 3px;
    padding: 5px 50px;
    background-color: #ea1010;
    color: #fff;
    font-size: 13px;
}

/*! U02 */
.logo_nav{display: flex;
    position: relative;
    height:55px;}
.logo_div{width:180px;}
.logo_main{
    width:100%;
    height:100%;
    background-image: url(logo.png);
    background-size: 33%;
    margin-left: 2px;}