/*!
######################################################

# LOGIN.CSS

# ASSET RELEASE: 1.0.0

# BUILD DATE: 2019 3:4 

# COPYRIGHT 2019 

######################################################
*/
* {
  margin:0;
  padding:0;
  border:none;
  list-style:none;
  -webkit-box-sizing: border-box;
}
/* #loginForm  */
body {
  font-family: "Noto Sans Japanese", sans-serif;
  font-weight: 300;
}
form {
  margin:70px auto;
  border: 2px solid black;
  width:300px;
  text-align:center;
  padding:15px;
  -webkit-border-radius: 6px;
}
form > h1 {
  font-weight:400;
  margin-bottom:20px;
}
input {
  display:block;
  width:269px;
  padding:15px;
  margin-bottom:10px;
  -webkit-border-radius: 6px;
  outline:none;
  border: 1px solid black;
}
input:focus {
  background:rgba(252, 106, 106, 0.3);
}
button {
  position:relative;
  display:block;
  margin-top:15px;
  margin-bottom:15px;
  padding:17px;
  width:270px;
  -webkit-border-radius: 6px;
  font-size:1.2em;
  background-color: #ea1010;
  cursor:pointer;
  border: 2px solid black;
}
button:active {
  top:3px;
}